:root {
    --main-primary-color: #00838f;
    --secondary-font-color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
}

body {
  font-size: 16px;
  padding-bottom: 5em;
  min-height: 100vh;
}

a:visited {
    color: #ffffff;
}

.header {
    position: sticky;
    width: fit-content;
}

.main-bg{
    background-color: var(--main-primary-color);
    color: var(--secondary-font-color);
} 


/* CSS NAVBAR incluye animaciones y links */

.navbar {
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-link {
    background-color: #00838f;
    border-radius: 5%;
    margin: 10px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
}

.navbar-link:hover {
    animation: hover-link 0.4s linear; 
}  

  @keyframes hover-link {
    0% {
      background-color: rgb(15, 48, 5);
        opacity: 50%;
    }
    50% {
      background-color: #032629;
      fill-opacity: 75%;
    }
    100% {
      background-color: #032629;
      opacity: 100%;

    }
  
}



/* CSS de CARRUSEL con truco FLEX*/
.carousel-links {
    display: flex;
    justify-content: center;
}
  
.carousel-dot {
    background-color: #bbe3e3;
    width: 16px;
    height: 16px;
    display: block;  
    /* circulitos del slider */  
    border-radius: 50%;  
    margin: 5px; 
}
  
.carousel-slides > div {
    width: 100%;
    background-color: #FFF;
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
  
.carousel-slides {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    /* lo paso a visualizacion en columna */
    flex-direction: column;  
    /* al hacerlo warp lo comprime mostrando solo uno de ellos */
    flex-wrap: wrap;  
}

.gallery-cell {
    width: 100%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
}

/* CSS de SKILL con Animacion */
.skills-programacion {
    align-items: center;
    display: flex;
    justify-items: center;
}
.progress-bar-container{
    padding: 5px 5px;
    width: 200px;
    height: 35px;
    background-color: #00838f;
    border-radius: 5px;
    margin: 2px;
    top: 0;
    right: 0;
    left: 0;
}
.progress-git{
    width: 50%;
    height: 100%;
    left: 1px;
}
.progress-html{
    width: 70%;
    height: 100%;
    left: 1px;
}
.progress-css{
    width: 50%;
    height: 100%;
    left: 1px;
}
.progress-js{
    width: 25%;
    height: 100%;
    left: 1px;
}
.percentage {
    color: #bbe3e3;
    font: bold;
}

.progress-bar-container::after {
    animation: progressbar 0.4s infinite; 
}  

@keyframes progressbar{
    0%{
        background-color: #032629;    

    }
    100%{
        background-color: #00838f;

    }
}
.progress-git:hover{
    animation: progressbar 5s linear ;
}
.progress-html:hover{
    animation: progressbar 5s linear ;
}
.progress-css:hover{
    animation: progressbar 5s linear ;
}
.progress-js:hover{
    animation: progressbar 5s linear ;
}




/* CSS del FORMULARIO */
.form {
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.field {
    justify-content: start;
    margin: auto;
    padding: 2px;
}
.radio-pick {
    justify-content: start;
    margin: auto;
    padding: 2px;
}
.descripcion{
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start
}
#descripcion{
    width: 200px; 
    height: 100px
}
.registro{
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start
}

/* Proyectos en grid */

.proyectos-grid{
    padding: 10px 10px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    'proy1 proy2'
    'proy3 proy4'; 
    grid-template-columns: 1fr 1fr;
}
.proyectos-grid > div {
    border: 1px solid #ffffff;
    padding: 2px;
    align-content: center;
    align-items: stretch;
}

.proyecto1-grid{
    grid-area: proy1;
}
.proyecto2-grid{
    grid-area: proy2;
}
.proyecto3-grid{
    grid-area: proy3;
}
.proyecto4-grid{
    grid-area: proy4;
}


/* CSS del FOOTER*/
.footer {
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.image-container {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}
  
  
/*  RESPONSIVE DESKTOP  */
@media screen and (max-width: 400px) {
  
    /* solo añadir las columnas que se añaden */
     /* .anime-content .show-items {
      grid-template-columns: repeat(5,1fr);*/
    
  
    .navbar {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }

    .skills-programacion {
        flex-direction: column;
        justify-content: space-between;
    }

    .proyectos-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer {
        display: block;
        justify-content: space-between;
        }
  
   .image-container {
    display: flex;
    justify-content:space-between
    }
}

@media screen and (max-width: 600px) {

}