:root {
    /* definición variable */
    --main-primary-color: #00838f;
    --secondary-font-color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
  }

body {
  font-size: 16px;
  padding-bottom: 5em;
  min-height: 100vh;
}
a:visited {
    color: #ffffff;
  }

.header {
    position: sticky;
}


.main-bg {
    background-color: var(--main-primary-color);
    color: var(--secondary-font-color);
  }

  /*  ANIMACIONES de links navbar */

.navbar {
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form {
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.field {
    justify-content: start;
    margin: auto;
    padding: 2px;
}
.radio-pick {
    justify-content: start;
    margin: auto;
    padding: 2px;
}
.descripcion{
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start
}
#descripcion{
    width: 200px; 
    height: 100px
}
.registro{
    padding: 10px 20px;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start
}

.navbar-link {
    background-color: #00838f;
    border-radius: 5%;
    margin: 10px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
}

.navbar-link:hover {
    animation: hover-link 0.4s linear; 
}  

  @keyframes hover-link {
    0% {
      background-color: rgb(15, 48, 5);
        opacity: 50%;
    }
    50% {
      background-color: #032629;
      fill-opacity: 75%;
    }
    100% {
      background-color: #032629;
      opacity: 100%;

    }
  
  }

/* Configuracion de CARRUSEL */
  .carousel-links {
    display: flex;
    justify-content: center;
  }
  
  .carousel-dot {
    background-color: #bbe3e3;
    width: 16px;
    height: 16px;
    display: block;    /* IMPORTANTE para que se vea como un bloque y no texto */
    border-radius: 50%;  /* circulitos del slider */
    margin: 5px;
  
  }
  
  .carousel-slides > div {
    width: 100%;
    background-color: rgb(36, 35, 35);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; /* textos centrados */
  }
  
  .carousel-slides {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;  /* lo paso a visualizacion en columna */
    flex-wrap: wrap;  /* al hacerlo warp lo comprime mostrando solo uno de ellos */
  }


  /* defino el grid del FOOTER*/
  .footer {
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
  }
  
  .image-container {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
  }
  
  
  /*  RESPONSIVE DESKTOP  */
  @media screen and (max-width: 600px) {
  
    /* solo añadir las columnas que se añaden */
    /*  .anime-content .show-items {
      grid-template-columns: repeat(5,1fr);
    }*/
  
    .navbar {
    display: block;
    justify-content: space-between;
    }
    .footer {
        display: block;
        justify-content: space-between;
        }
  
   .image-container {
    display: flex;
    justify-content:space-between
    }
  

  }